root {
    --main-text-color: #757575;
    --main-title-color: #212121;
    --accent-color: #2196F3;
    --second-button-color: tomato;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*---------------Header----------------*/

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-accent {
    color: #212121;
}

/* .tistyle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
} */

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.header-mail:hover,.header-mail:focus, .header-link:hover, .header-link:focus {
    color: #2196F3;
}

.header-tel {
    color: #757575;
}

.header-mail {
    color: var(--main-title-color);
}

/*-----------------Hero---------------*/

.booking {
    color: #FFFFFF;
    background-color: #000000;
}

.booking-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.booking-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;

    display: flex;
}

/* .booking-btn:hover, .booking-btn:focus {
    color: var(--accent-color);
} */
/*------------- Features--------------*/

.features-item-header {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;   
    color: var(--main-title-color); 
}

.features-item-text{

    font-size: 14px;
    line-height: calc(24/14);
    color: var(--main-text-color);
}

/*-----------------Team---------------*/

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    color: var(--main-title-color);
}

.team-header.text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--main-text-color);
}

/*---------------Footer----------------*/

.footer {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #000000;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-logo-accent {
    color: #FFFFFF;
}
.footer-link {
    font-size: 14px;
    line-height: cacl(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail,
.footer-tel {
    font-size: 14px;
    line-height: cacl(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6)
}

/*----------Portfolio button ---------*/

.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    background-color: #F5F4FA;
}

.portfolio-btn:hover, .portfolio-btn:focus  {
    color: #FFFFFF;
    background-color: #2196F3;
}

.portfolio-header {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.portfolio-text {
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: #757575;
    }